// media min-width 
$screen-sm-min: 768px;
$screen-md-min:992px;
$screen-lg-min:1200px;

// media max-width
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

// breath-chat-thumbnail
$breath-chat-thumbnail-width: 40px;
$breath-chat-thumbnail-height: 40px;
$breath-chat-thumbnail-radius: 20px;

// breath-chat-message
$breath-chat-message-maxWidth: 75%;
$breath-chat-message-radius: 5px;
$breath-chat-message-font-size: 13px;
$breath-chat-left-message-background:  #F4F4F4;
$breath-chat-right-message-background:  #66CEFF;
$breath-chat-left-message-color: #999999;
$breath-chat-right-message-color: white;
$breath-chat-message-arrow-vertical-offset: 4px;

// breath-chat-message-container
$breath-chat-message-container-space: 15px;

// breath-chat-messages-container
$breath-chat-messages-container-pc-width: 400px;
$breath-chat-messages-container-pc-height: 550px;
$breath-chat-messages-container-phone-width: 100%;
$breath-chat-messages-container-phone-height: 90%;

//breath-chat-textarea
$breath-chat-textarea-width: auto;
$breath-chat-textarea-max-height: auto;
$breath-chat-textarea-border-radius: 2px;
$breath-chat-textarea-border-color: rgba(0, 0, 0, 0.3);
$breath-chat-textarea-border-style: solid;
$breath-chat-textarea-border-width:1px;
$breath-caht-textarea-font-size: 14px;
$breath-chat-textarea-padding: 4px;

