$breath-chat-textarea-width: 100% !default;
$breath-chat-textarea-height: 100% !default;
$breath-chat-textarea-border-radius: 0 !default;
$breath-chat-textarea-border-color: rgba(0, 0, 0, 0.3) !default;
$breath-chat-textarea-border-style: solid !default;
$breath-chat-textarea-border-width:0 !default;
$breath-chat-textarea-font-size: 14px !default;
$breath-chat-textarea-padding: 4px !default;
$breath-chat-textarea-color: #999999 !default;

.breath-chat-textarea
{
	@include inline-block;
	width: $breath-chat-textarea-width;
	height: $breath-chat-textarea-height;
	border-radius: $breath-chat-textarea-border-radius;
	border-style: $breath-chat-textarea-border-style;
	border-width: $breath-chat-textarea-border-width;
	border-color: $breath-chat-textarea-border-color;
	font-size: $breath-chat-textarea-font-size;
	padding: $breath-chat-textarea-padding;
	color: $breath-chat-textarea-color;
	vertical-align: middle;
	overflow: hidden;
	resize: none;
}