$breath-chat-communicatePane-pc-width: 550px !default;
$breath-chat-communicatePane-pc-height: auto !default;

$breath-chat-interactivePane-headerBar-pc-width: 100% !default;
$breath-chat-interactivePane-headerBar-pc-height: 60px !default;
$breath-chat-interactivePane-headerBar-pc-padding: 15px !default;

$breath-chat-communicatePane-messageArea-pc-width: 100% !default;
$breath-chat-communicatePane-messageArea-pc-height: 350px !default;

$breath-chat-communicatePane-interactiveArea-pc-width: 100% !default;
$breath-chat-communicatePane-interactiveArea-pc-height: 120px !default;
$breath-chat-communicatePane-interactiveArea-pc-max-height: 150px !default;

.breath-chat-communicatePane
{
	width: $breath-chat-communicatePane-pc-width;
	height: $breath-chat-communicatePane-pc-height;
	position: relative;
	display: block;
	overflow: hidden;

	.headerBar
	{
		width: $breath-chat-interactivePane-headerBar-pc-width;
		height: $breath-chat-interactivePane-headerBar-pc-height;
		padding: $breath-chat-interactivePane-headerBar-pc-padding;
		border-bottom: 1px solid rgba(0, 0, 0, .15);
	}

	.messageArea
	{
		width: $breath-chat-communicatePane-messageArea-pc-width;
		height: $breath-chat-communicatePane-messageArea-pc-height;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.interactiveArea
	{
		width: $breath-chat-communicatePane-interactiveArea-pc-width;
		height: $breath-chat-communicatePane-interactiveArea-pc-height;
		max-height: $breath-chat-communicatePane-interactiveArea-pc-max-height;
		border-top: 1px solid rgba(0, 0, 0, .15);
	}
}