$breath-chat-pc-width: auto !default;
$breath-chat-pc-height: auto !default;
$breath-chat-pc-min-width: 760px !default;
$breath-chat-pc-max-wdith: 100% !default;

.breath-chat
{
	@include clear( "&" );
	@include inline-block;

	margin: 10px 0 0 200px;
	box-shadow: 0 0 4px 0  rgba(0, 0, 0, .4);

	width: $breath-chat-pc-width;
	height: $breath-chat-pc-height;

	min-width : $breath-chat-pc-min-width;
	max-width: $breath-chat-pc-max-wdith;

	.breath-chat-toolPane,
	.breath-chat-contactPane,
	.breath-chat-communicatePane
	{
		float: left;
		height: 100%;
		position: relative;
	}

	.breath-chat-contactPane
	{
		z-index: 2;
	}

	.breath-chat-communicatePane
	{
		z-index: 3;
	}
}