$breath-chat-toolPane-width: 100%;
$breath-chat-toolPane-height: auto;

.breath-chat-toolPane
{
	@include inline-block;

	width: $breath-chat-toolPane-width;
	height: $breath-chat-toolPane-height;
	text-align: center;

	.button
	{
		outline: none;
		border: none;
		background-color: transparent;
	}

	.add-button
	{
		.breath-chat-icon
		{
			color: white;
		}
	}
}