$breath-chat-message-maxWidth: 75% !default;
$breath-chat-message-radius: 5px !default;
$breath-chat-message-font-size: 13px !default;
$breath-chat-left-message-background:  #F4F4F4 !default;
$breath-chat-right-message-background:  #66CEFF !default;
$breath-chat-left-message-color: #999999 !default;
$breath-chat-right-message-color: #fff !default;
$breath-chat-message-arrow-vertical-offset: 4px !default;

.breath-chat-message {
	@include clear("&");
	@include inline-block;

	position: relative;
	box-sizing: border-box;
	padding: 0 17px;
	font-size: $breath-chat-message-font-size;
	max-width: $breath-chat-message-maxWidth;

	.content
	{
		@include inline-block;

		position: relative;
		padding: 9px 9px 7px;
		border: 1px solid;

		border-radius: $breath-chat-message-radius;
	}

	.arrow-container
	{
		@include inline-block;

		position: absolute;
		top: $breath-chat-message-arrow-vertical-offset;
	}

	&.left
	{
		float: left;
		.content
		{
			float: left;
			color: $breath-chat-left-message-color;
			background: $breath-chat-left-message-background;
			border-color: $breath-chat-left-message-background;
		}

		.arrow-container
		{
			left: 10px;
		}	
	}

	&.right
	{
		float: right;
		.content
		{
			float: right;
			color: $breath-chat-right-message-color;
			background: $breath-chat-right-message-background;
			border-color: $breath-chat-right-message-background;
		}

		.arrow-container
		{
			right: 10px;
		}	

	}
}

