$breath-chat-messages-container-pc-width: 100% !default;
$breath-chat-messages-container-pc-height: auto !default;

.breath-chat-messages-container
{
	position: relative;
	width: $breath-chat-messages-container-pc-width;
	height: $breath-chat-messages-container-pc-height;
	overflow-x: hidden;

	.breath-chat-messages-inner-container
	{
		position: relative;
		display: block;
		width: 100%;
		padding: 20px 0;


		.breath-chat-message-container
		{
			@include clear("&");

			width: 100%;
			margin-top: $breath-chat-message-container-space;

			.breath-chat-thumbnail
			{
				position: relative;
				top: -4px;
			}

			&.left 
			{
				.breath-chat-thumbnail
				{
					float: left;
				}
			}

			&.right 
			{
				.breath-chat-thumbnail
				{
					float: right;
				}
			}
		}
	}
}