* {
  padding: 0;
  margin: 0;
  border: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input[type="text"],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

figure,
figcaption {
  display: block; }

.breath-chat-label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden; }

.breath-chat-thumbnail {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden; }
  .breath-chat-thumbnail .image {
    position: relative;
    width: 100%;
    height: 100%; }

.breath-chat-message {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  box-sizing: border-box;
  padding: 0 17px;
  font-size: 13px;
  max-width: 75%; }
  .breath-chat-message:after, .breath-chat-message:before {
    content: "";
    display: table;
    *zoom: 1; }
  .breath-chat-message:after {
    clear: both; }
  .breath-chat-message .content {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    padding: 9px 9px 7px;
    border: 1px solid;
    border-radius: 5px; }
  .breath-chat-message .arrow-container {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: absolute;
    top: 4px; }
  .breath-chat-message.left {
    float: left; }
    .breath-chat-message.left .content {
      float: left;
      color: #999999;
      background: #F4F4F4;
      border-color: #F4F4F4; }
    .breath-chat-message.left .arrow-container {
      left: 10px; }
  .breath-chat-message.right {
    float: right; }
    .breath-chat-message.right .content {
      float: right;
      color: white;
      background: #66CEFF;
      border-color: #66CEFF; }
    .breath-chat-message.right .arrow-container {
      right: 10px; }

.breath-chat-messages-container {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 992px) {
    .breath-chat-messages-container {
      width: 400px;
      height: 550px; } }
  .breath-chat-messages-container .breath-chat-messages-inner-container {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 0; }
    .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container {
      width: 100%;
      margin-top: 15px; }
      .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container:after, .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container:before {
        content: "";
        display: table;
        *zoom: 1; }
      .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container:after {
        clear: both; }
      .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container .breath-chat-thumbnail {
        position: relative;
        top: -4px; }
      .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container.left .breath-chat-thumbnail {
        float: left; }
      .breath-chat-messages-container .breath-chat-messages-inner-container .breath-chat-message-container.right .breath-chat-thumbnail {
        float: right; }

.breath-chat-textarea {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto;
  max-height: auto;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3); }

.breath-chat-communicatePane {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .breath-chat-communicatePane .breath-chat-communicatePane-inner-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll; }

.breath-chat-movableMenu {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: red; }

/*# sourceMappingURL=main.css.map */
