

// breath-chat-message
$breath-chat-message-space: 20px;
$breath-chat-message-radius: 5px;
$breath-chat-message-font-size: 13px;
$breath-chat-left-message-background:  #F4F4F4;
$breath-chat-right-message-background:  #66CEFF;
$breath-chat-left-message-color: #999999;
$breath-chat-right-message-color: white;
$breath-chat-message-arrow-vertical-offset: 4px;